@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

::placeholder{
  color:black;
}

.search-location-input{
  cursor: pointer;
  font: inherit;
  border: none;
  color: black;
  padding: 0.75rem 1rem;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  border-color: red;
  background: rgba(246, 146, 129, 0.8);
}

